#recipe-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#recipe-frame {
    background-color: #e5e3c9;
    border: 1px solid #789395;
}

.btn-primary {
    color: #e5e3c9;
}
