// Body
$body-bg: #94b49f;

// Typography
$font-family-sans-serif: "Assistant", sans-serif;
$font-family-header: "Shadows Into Light", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Buttons
$primary: #789395;

// Beige background
$light: #e5e3c9;

// when hover over drop-down
$gray-200: #b4cfb0;
