// Body
$body-bg: #94b49f;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Buttons
$primary: #789395;

// Beige background
$light: #e5e3c9;
